div#alert{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 50vh;
    border: 1px solid #eae517;
    box-shadow: 2px 1px 3px #812d00;
    border-radius: 5px;
    padding: 10px;
}
#alert #alerttitle{
    font-size: 16pt;
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: center;
}
#alert #AlertText{
    font-size: 12pt;
    text-align: center;
    margin-bottom: 10px;
}
#buttons{
    text-align: center;
}
#buttons button{
    margin: 10px;
    padding: 5px;
    border: 1px solid #eae517;
    box-shadow: 2px 1px 3px #812d00;
    border-radius: 5px 2px 3px 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}